<!DOCTYPE html>
<html>
    <head>
      <title>{{ site.name }} - {{ page.title }}</title>
    </head>
    <body>
      <header>
        <img src="/{{site.project}}/images/logo.png">
        <span class="slogan">{{site.slogan}}</span>
      </header>

      <aside>
        <section class="status">
          <a href="https://travis-ci.org/{{site.organization}}/{{site.project}}">
            <img src="https://travis-ci.org/{{site.organization}}/{{site.project}}.svg?branch=master" alt="{{site.name}} Build Status">
          </a>
          Download
          <a href="http://repo1.maven.org/maven2/{{site.group_id}}/{{site.project}}/{{site.last_release}}">Stable</a>
          <a href="/{{site.project}}/{{site.organization}}-{{site.project}}-SNAPSHOT.jar">Snapshot</a>
          
            <!-- Begin PayPal Donation button -->
			<div class="donation">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="MCKWXARJ3LF3C">
					<input type="image" src="https://www.paypal.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
					<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
			<!-- End PayPal Donation button -->
        </section>
        <ul class="menu">
          <li><a href="/{{site.project}}/">{{ site.name }}</a></li>
          {% capture index_page %}/{{site.project}}/index.html{% endcapture %}
          {% for page in site.pages %}
              {% if page.url != index_page %}
                <li><a href="{{page.url}}">{{ page.title }}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
      </aside>

      <article>
        {{ content }}
      </article>

      <footer>
        {% if site.lang == "pt" %}
            Um projeto do <a href="http://www.vidageek.net">VidaGeek.net</a>
        {% else %}
            A <a href="http://www.vidageek.net">VidaGeek.net</a> project
        {% endif %}
      </footer>
    </body>
</html>
